<h2>Bitcoin value is : <span id="bitcoin-value"> </span> </h2>


<canvas style="height:60vh; width:80vw" id="chart" ></canvas>
<button class="btn-time" value="year">year</button>
<button class="btn-time" value="month">month</button>
<button class="btn-time" value="week">week</button>
<button class="btn-time" value="day">day</button>
<button class="btn-time" value="hour">hour</button>

<%= javascript_pack_tag 'chart' %>